h4 {
    color: rgba($color: white, $alpha: .4);
}

.container-top {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    max-width: 1024px;
    height: fit-content;
    background-color: #1F1B24;

    button {
        background-color: #1F1B24;
        margin-left: 1rem;
    }
}

.container-bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 1024px;
    height: fit-content;
    background-color: #1F1B24;
}

.counter {
    display: flex;
    width: 200px !important;
    box-sizing: border-box;
    align-items: center;
}

.input-counter {
    border: none;
    border-bottom: 1px solid black;
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;

    &:focus {
        outline: none;
        border-bottom: 2px solid #3f51b5;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
}

.mat-column-amount {
    max-width: 20%;
}

.mat-column-name {
    max-width: 40%;
}

.mat-column-type {
    max-width: 40%;
}

.center {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {

    table {
        overflow-x: scroll;
    }

    .container-top {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .container-bottom {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .input-counter {
        font-size: 1rem;
    }
    
}

