table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 0.5rem;
    background: lightblue;
    border: 1px solid #ddd;

    &:hover {
        background: lightgreen;
    }
}