<section class="container">

  <h4>Select Station Module</h4>

  <mat-form-field>
    <mat-label>Station Modules</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let module of data" [value]="module.name"
        (click)="addToList(module)">{{module.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</section>

<section class="container">

  <table mat-table [dataSource]="list" class="mat-elevation-z8">

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element">

        <form class="counter">
          <mat-form-field>
            <input matInput maxlength="3" value={{element.amount}} id={{element.name}} (keyup)="setAmount(element)" >
          </mat-form-field>
          <div class="vertical">
            <button mat-button color="primary" (click)="increaseAmount(element)">
              <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
            </button>
            <button mat-button color="primary" (click)="decreaseAmount(element)">
              <mat-icon aria-hidden="false" fontIcon="remove"></mat-icon>
            </button>
          </div>
          <button mat-button color="secondary" (click)="remove(element)">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </form>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



</section>